<div class="mt-4">
    <form method="POST"  >
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <input type="text" name="fullname">
            <input type="text" name="age">
            <input type="text" class="form-control" name="q" id="search-input" placeholder="Nhập từ khóa...">
            {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>